html {
    scrollbar-color: #040a0f #202b38;
    scrollbar-width: thin;
}

body {
    max-width: 800px;
    line-height: 1.4;
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
    background: #202b38;
    text-rendering: optimizeLegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    color: #dbdbdb;
}

.heading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 24px;
    font-size: 2.2em;
    color: white;
}

.summary {
    text-align: center;
    font-weight: 500px;
    font-size: large;
    margin-bottom: 50px;
}

a {
    color: #41adff;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}

.book-title {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.filter {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

label {
    margin-bottom: 4px;
}

select {
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    background: #161f27 url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E") calc(100% - 12px) 50% / 12px no-repeat;

    padding-right: 35px;
    -webkit-appearance: none;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    display: block;
}
/* 
input {
    width: 300px;
} */